In [235]:
import pandas as pd
import pickle

In [236]:
df = pd.read_csv('dataset.csv')

In [237]:
df

,Unnamed: 0,ID,thickness,cell_size,cell_shape,adhesion,epithelial_size,bare_nuclei,bland_cromatin,normal_nucleoli,mitoses,class
0,1,1000025,5,1,1,1,2,1.0,3,1,1,2
1,2,1002945,5,4,4,5,7,10.0,3,2,1,2
2,3,1015425,3,1,1,1,2,2.0,3,1,1,2
3,4,1016277,6,8,8,1,3,4.0,3,7,1,2
4,5,1017023,4,1,1,3,2,1.0,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
694,695,776715,3,1,1,1,3,2.0,1,1,1,2
695,696,841769,2,1,1,1,2,1.0,1,1,1,2
696,697,888820,5,10,10,3,7,3.0,8,10,2,4
697,698,897471,4,8,6,4,3,4.0,10,6,1,4
698,699,897471,4,8,8,5,4,5.0,10,4,1,4

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       699 non-null    int64
 1   ID               699 non-null    int64
 2   thickness        699 non-null    int64
 3   cell_size        699 non-null    int64
 4   cell_shape       699 non-null    int64
 5   adhesion         699 non-null    int64
 6   epithelial_size  699 non-null    int64
 7   bare_nuclei      683 non-null    float64
 8   bland_cromatin   699 non-null    int64
 9   normal_nucleoli  699 non-null    int64
 10  mitoses          699 non-null    int64
 11  class            699 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 65.7 KB

In [239]:
df.isnull()

,Unnamed: 0,ID,thickness,cell_size,cell_shape,adhesion,epithelial_size,bare_nuclei,bland_cromatin,normal_nucleoli,mitoses,class
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

<h1>Data Cleaning</h1>

In [240]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       683 non-null    int64
 1   ID               683 non-null    int64
 2   thickness        683 non-null    int64
 3   cell_size        683 non-null    int64
 4   cell_shape       683 non-null    int64
 5   adhesion         683 non-null    int64
 6   epithelial_size  683 non-null    int64
 7   bare_nuclei      683 non-null    float64
 8   bland_cromatin   683 non-null    int64
 9   normal_nucleoli  683 non-null    int64
 10  mitoses          683 non-null    int64
 11  class            683 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 69.4 KB

In [241]:
df

,Unnamed: 0,ID,thickness,cell_size,cell_shape,adhesion,epithelial_size,bare_nuclei,bland_cromatin,normal_nucleoli,mitoses,class
0,1,1000025,5,1,1,1,2,1.0,3,1,1,2
1,2,1002945,5,4,4,5,7,10.0,3,2,1,2
2,3,1015425,3,1,1,1,2,2.0,3,1,1,2
3,4,1016277,6,8,8,1,3,4.0,3,7,1,2
4,5,1017023,4,1,1,3,2,1.0,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
694,695,776715,3,1,1,1,3,2.0,1,1,1,2
695,696,841769,2,1,1,1,2,1.0,1,1,1,2
696,697,888820,5,10,10,3,7,3.0,8,10,2,4
697,698,897471,4,8,6,4,3,4.0,10,6,1,4
698,699,897471,4,8,8,5,4,5.0,10,4,1,4

<h2> Spilt Data to Train And Test </h2>

In [242]:
from sklearn.model_selection import train_test_split

In [243]:
X = df[['thickness', 'cell_size', 'cell_shape', 'adhesion',
       'epithelial_size', 'bare_nuclei', 'bland_cromatin', 'normal_nucleoli',
       'mitoses']] # Features
y = df['class'] # Labels

In [244]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=50)

<h1> Predict With Random forest </h1>

In [245]:
from sklearn.ensemble import RandomForestClassifier

In [246]:
Rf = RandomForestClassifier(n_estimators=10)

In [247]:
Rf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [248]:
Rf.score(X_train,y_train)

0.997907949790795

In [249]:
RFprediction = Rf.predict(X_train)
RFprediction

array([2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 4, 4, 2, 4, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4,
       2, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 4, 4, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 4, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2,
       2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2], dtype=int64)

<h1> Predict With Naive bayes </h1>

In [250]:
from sklearn.naive_bayes import GaussianNB

In [251]:
Nb = GaussianNB()

In [252]:
Nb.fit(X_train,y_train)

GaussianNB()

In [253]:
Nb.score(X_train,y_train)

0.9581589958158996

In [254]:
NBprediction = Nb.predict(X_train)
NBprediction

array([2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4,
       4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4,
       4, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 4, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2,
       2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2], dtype=int64)

<h1> Predict With QuadraticDiscriminantAnalysis </h1>

In [255]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [256]:
Qa = QuadraticDiscriminantAnalysis()

In [257]:
Qa.fit(X_train,y_train)

QuadraticDiscriminantAnalysis()

In [258]:
Qa.score(X_train,y_train)

0.9518828451882845

In [259]:
Qaprediction = Qa.predict(X_train)
Qaprediction

array([2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4,
       4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4,
       4, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4,
       4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 4, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 4, 2, 4, 4, 2,
       2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2], dtype=int64)

<h1> Performance Machine Learning </h1>

In [260]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

<h2>Random forest</h2>

In [261]:
print(accuracy_score(y_train, RFprediction))

0.997907949790795

In [262]:
print(confusion_matrix(y_train, RFprediction))

[[311   1]
 [  0 166]]

In [263]:
print(classification_report(y_train, RFprediction))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00       312
           4       0.99      1.00      1.00       166

    accuracy                           1.00       478
   macro avg       1.00      1.00      1.00       478
weighted avg       1.00      1.00      1.00       478

<h2> Naive bayes </h2>

In [264]:
print(accuracy_score(y_train, NBprediction))

0.9581589958158996

In [265]:
print(confusion_matrix(y_train, NBprediction))

[[297  15]
 [  5 161]]

In [266]:
print(classification_report(y_train, NBprediction))

              precision    recall  f1-score   support

           2       0.98      0.95      0.97       312
           4       0.91      0.97      0.94       166

    accuracy                           0.96       478
   macro avg       0.95      0.96      0.95       478
weighted avg       0.96      0.96      0.96       478

<h2> QuadraticDiscriminantAnalysis </h2>

In [267]:
print(accuracy_score(y_train, Qaprediction))

0.9518828451882845

In [268]:
print(confusion_matrix(y_train,Qaprediction))

[[293  19]
 [  4 162]]

In [269]:
print(classification_report(y_train, Qaprediction))

              precision    recall  f1-score   support

           2       0.99      0.94      0.96       312
           4       0.90      0.98      0.93       166

    accuracy                           0.95       478
   macro avg       0.94      0.96      0.95       478
weighted avg       0.95      0.95      0.95       478

<h2> Write Model To File </h2>

In [270]:
with open('RandomForest.pkl', 'wb') as write:
  pickle.dump(Rf,write)

In [271]:
with open('Naivebayes.pkl', 'wb') as write:
  pickle.dump(Nb,write)

In [272]:
with open('QuadraticDiscriminantAnalysis.pkl', 'wb') as write:
  pickle.dump(Qa,write)

In [273]:
Rf_model = pickle.load(open('QuadraticDiscriminantAnalysis.pkl', 'rb'))

In [274]:
Rf_model.predict([[5,10,10,3,7,3.0,8,10,2]])[0]

4