In [1]:
import pandas as pd
import pickle

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df

,Unnamed: 0,ID,thickness,cell_size,cell_shape,adhesion,epithelial_size,bare_nuclei,bland_cromatin,normal_nucleoli,mitoses,class
0,1,1000025,5,1,1,1,2,1.0,3,1,1,2
1,2,1002945,5,4,4,5,7,10.0,3,2,1,2
2,3,1015425,3,1,1,1,2,2.0,3,1,1,2
3,4,1016277,6,8,8,1,3,4.0,3,7,1,2
4,5,1017023,4,1,1,3,2,1.0,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
694,695,776715,3,1,1,1,3,2.0,1,1,1,2
695,696,841769,2,1,1,1,2,1.0,1,1,1,2
696,697,888820,5,10,10,3,7,3.0,8,10,2,4
697,698,897471,4,8,6,4,3,4.0,10,6,1,4
698,699,897471,4,8,8,5,4,5.0,10,4,1,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       699 non-null    int64
 1   ID               699 non-null    int64
 2   thickness        699 non-null    int64
 3   cell_size        699 non-null    int64
 4   cell_shape       699 non-null    int64
 5   adhesion         699 non-null    int64
 6   epithelial_size  699 non-null    int64
 7   bare_nuclei      683 non-null    float64
 8   bland_cromatin   699 non-null    int64
 9   normal_nucleoli  699 non-null    int64
 10  mitoses          699 non-null    int64
 11  class            699 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 65.7 KB

In [5]:
df.isnull()

,Unnamed: 0,ID,thickness,cell_size,cell_shape,adhesion,epithelial_size,bare_nuclei,bland_cromatin,normal_nucleoli,mitoses,class
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

<h1>Data Cleaning</h1>

In [8]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       683 non-null    int64
 1   ID               683 non-null    int64
 2   thickness        683 non-null    int64
 3   cell_size        683 non-null    int64
 4   cell_shape       683 non-null    int64
 5   adhesion         683 non-null    int64
 6   epithelial_size  683 non-null    int64
 7   bare_nuclei      683 non-null    float64
 8   bland_cromatin   683 non-null    int64
 9   normal_nucleoli  683 non-null    int64
 10  mitoses          683 non-null    int64
 11  class            683 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 69.4 KB

In [9]:
df

,Unnamed: 0,ID,thickness,cell_size,cell_shape,adhesion,epithelial_size,bare_nuclei,bland_cromatin,normal_nucleoli,mitoses,class
0,1,1000025,5,1,1,1,2,1.0,3,1,1,2
1,2,1002945,5,4,4,5,7,10.0,3,2,1,2
2,3,1015425,3,1,1,1,2,2.0,3,1,1,2
3,4,1016277,6,8,8,1,3,4.0,3,7,1,2
4,5,1017023,4,1,1,3,2,1.0,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
694,695,776715,3,1,1,1,3,2.0,1,1,1,2
695,696,841769,2,1,1,1,2,1.0,1,1,1,2
696,697,888820,5,10,10,3,7,3.0,8,10,2,4
697,698,897471,4,8,6,4,3,4.0,10,6,1,4
698,699,897471,4,8,8,5,4,5.0,10,4,1,4

<h2> Spilt Data to Train And Test </h2>

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = df[['thickness', 'cell_size', 'cell_shape', 'adhesion',
       'epithelial_size', 'bare_nuclei', 'bland_cromatin', 'normal_nucleoli',
       'mitoses']] # Features
y = df['class'] # Labels

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=50)

<h1> Predict With Random forest </h1>

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
Rf = RandomForestClassifier(n_estimators=10)

In [21]:
Rf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [22]:
RFprediction_train = Rf.predict(X_train)
RFprediction_train

array([2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 4, 4, 2, 4, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4,
       2, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 4, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2,
       2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2], dtype=int64)

In [23]:
RFprediction_test = Rf.predict(X_test)
RFprediction_test

array([4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 4, 2, 2, 4, 2, 2, 4,
       2, 2, 4, 2, 4, 4, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2,
       4, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2,
       4, 2, 4, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2,
       4, 2, 2, 4, 4, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 4,
       2, 2, 4, 2, 2, 4, 2], dtype=int64)

<h1> Predict With Naive bayes </h1>

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
Nb = GaussianNB()

In [26]:
Nb.fit(X_train,y_train)

GaussianNB()

In [27]:
NBprediction_train = Nb.predict(X_train)
NBprediction_train

array([2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4,
       4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4,
       4, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 4, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2,
       2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2], dtype=int64)

In [28]:
NBprediction_test = Nb.predict(X_test)
NBprediction_test

array([4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 4, 2, 2, 4, 2, 2, 4,
       4, 2, 4, 2, 4, 4, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2,
       4, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2,
       4, 2, 4, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2,
       4, 2, 2, 4, 4, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 4,
       2, 2, 4, 2, 2, 4, 2], dtype=int64)

<h1> Predict With QuadraticDiscriminantAnalysis </h1>

In [30]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [31]:
Qa = QuadraticDiscriminantAnalysis()

In [32]:
Qa.fit(X_train,y_train)

QuadraticDiscriminantAnalysis()

In [33]:
Qaprediction_train = Qa.predict(X_train)
Qaprediction_train

array([2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4,
       4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2,
       2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 4,
       2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 4, 4,
       4, 2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4,
       4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2, 4,
       4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 4, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 4, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 4, 2, 4, 4, 2,
       2, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2], dtype=int64)

In [34]:
Qaprediction_test = Qa.predict(X_test)
Qaprediction_test

array([4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 4,
       2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 4, 4, 2, 2, 4, 2, 2, 4,
       4, 2, 4, 2, 4, 4, 4, 4, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 2, 4, 2, 4, 2, 2, 4, 4, 2,
       4, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 4, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2,
       4, 2, 4, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2,
       4, 2, 2, 4, 4, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4,
       2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 4,
       2, 2, 4, 2, 2, 4, 2], dtype=int64)

<h1> Performance on Training data </h1>

In [35]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,mean_squared_error

<h2>Random forest</h2>

In [36]:
print("{0:.2f}%".format(100*accuracy_score(y_train, RFprediction_train)))

99.79%

In [47]:
print(confusion_matrix(y_train, RFprediction_train))

[[311   1]
 [  0 166]]

In [48]:
print(classification_report(y_train, RFprediction_train))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00       312
           4       0.99      1.00      1.00       166

    accuracy                           1.00       478
   macro avg       1.00      1.00      1.00       478
weighted avg       1.00      1.00      1.00       478

In [37]:
print("{0:.3f}".format(mean_squared_error(y_train, RFprediction_train)))

0.008

<h2> Naive bayes </h2>

In [38]:
print("{0:.2f}%".format(100*accuracy_score(y_train, NBprediction_train)))

95.82%

In [39]:
print(confusion_matrix(y_train, NBprediction_train))

[[297  15]
 [  5 161]]

In [29]:
print(classification_report(y_train, NBprediction_train))

              precision    recall  f1-score   support

           2       0.98      0.95      0.97       312
           4       0.91      0.97      0.94       166

    accuracy                           0.96       478
   macro avg       0.95      0.96      0.95       478
weighted avg       0.96      0.96      0.96       478

In [30]:
print("{0:.3f}".format(mean_squared_error(y_train, NBprediction_train)))

0.167

<h2> QuadraticDiscriminantAnalysis </h2>

In [40]:
print("{0:.2f}%".format(100*accuracy_score(y_train, Qaprediction_train)))

95.19%

In [41]:
print(confusion_matrix(y_train,Qaprediction_train))

[[293  19]
 [  4 162]]

In [42]:
print(classification_report(y_train, Qaprediction_train))

              precision    recall  f1-score   support

           2       0.99      0.94      0.96       312
           4       0.90      0.98      0.93       166

    accuracy                           0.95       478
   macro avg       0.94      0.96      0.95       478
weighted avg       0.95      0.95      0.95       478

In [34]:
print("{0:.3f}".format(mean_squared_error(y_train, Qaprediction_train)))

0.192

<h1> Performance on Testing data </h1>

<h2>Random forest</h2>

In [43]:
print("{0:.2f}%".format(100*accuracy_score(y_test, RFprediction_test)))

97.56%

In [44]:
print(confusion_matrix(y_test, RFprediction_test))

[[129   3]
 [  2  71]]

In [45]:
print(classification_report(y_test, RFprediction_test))

              precision    recall  f1-score   support

           2       0.98      0.98      0.98       132
           4       0.96      0.97      0.97        73

    accuracy                           0.98       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.98      0.98      0.98       205

In [47]:
print("{0:.3f}".format(mean_squared_error(y_test, RFprediction_test)))

0.098

<h2> Naive bayes </h2>

In [48]:
print("{0:.2f}%".format(100*accuracy_score(y_test, NBprediction_test)))

96.59%

In [49]:
print(confusion_matrix(y_test, NBprediction_test))

[[127   5]
 [  2  71]]

In [50]:
print(classification_report(y_test, NBprediction_test))

              precision    recall  f1-score   support

           2       0.98      0.96      0.97       132
           4       0.93      0.97      0.95        73

    accuracy                           0.97       205
   macro avg       0.96      0.97      0.96       205
weighted avg       0.97      0.97      0.97       205

In [42]:
print("{0:.3f}".format(mean_squared_error(y_test, NBprediction_test)))

0.137

<h2> QuadraticDiscriminantAnalysis </h2>

In [51]:
print("{0:.2f}%".format(100*accuracy_score(y_test, Qaprediction_test)))

96.10%

In [52]:
print(confusion_matrix(y_test, Qaprediction_test))

[[126   6]
 [  2  71]]

In [53]:
print(classification_report(y_test, Qaprediction_test))

              precision    recall  f1-score   support

           2       0.98      0.95      0.97       132
           4       0.92      0.97      0.95        73

    accuracy                           0.96       205
   macro avg       0.95      0.96      0.96       205
weighted avg       0.96      0.96      0.96       205

In [54]:
print("{0:.3f}".format(mean_squared_error(y_test, Qaprediction_test)))

0.156

<h2> Write Model To File </h2>

In [55]:
with open('RandomForest.pkl', 'wb') as write:
  pickle.dump(Rf,write)

In [56]:
with open('Naivebayes.pkl', 'wb') as write:
  pickle.dump(Nb,write)

In [57]:
with open('QuadraticDiscriminantAnalysis.pkl', 'wb') as write:
  pickle.dump(Qa,write)

In [58]:
Rf_model = pickle.load(open('QuadraticDiscriminantAnalysis.pkl', 'rb'))

<h2> Test Model </h2>

In [60]:
Rf_model.predict([[5,10,10,3,7,3.0,8,10,2]])[0]

4